<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VivienWorkTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9E6406711DCC37400078E704</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E64068A1DCC37410078E704</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E6406951DCC37410078E704</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
